<div class="row">
  <div class="col-md-7 banner">
    <h1>
      <span style="color: #FF5A5F">
        Simple Air
      </span>
      Book unique homes and experience a city like a local.
    </h1>
  </div>
</div>
<%= form_with(url: search_path, method: :get, local: true) do %>
  <div class="row">
    <div class="col-md-6">
      <%= text_field_tag :search, params[:search], placeholder: 'Where are you going?', class: 'form-control', id: 'autogeocomplete' %>
    </div>
    <div class="col-md-3">
      <%= text_field_tag :start_date, params[:start_date], readonly: true,
                         placeholder: 'Start Date', class: 'form-control datepicker' %>
    </div>
    <div class="col-md-3">
      <%= text_field_tag :end_date, params[:end_date], readonly: true,
                         placeholder: 'End Date', class: 'form-control datepicker' %>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <%= submit_tag 'Search', class: 'btn btn-normal btn-block' %>
    </div>
  </div>
<% end %>
<br>
<hr>
<br>
<div>
  <h3>Homes</h3>
</div>
<br>
<div class="row">
  <% @rooms.each do |room| %>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading preview">
          <%= image_tag room.photos.first.variant(resize: "300x300") %>
        </div>
        <div class="panel-body">
          <%= link_to room.listing_name, room %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div>
  <h3>Cities</h3>
</div>
<br>
<div class="row">
  <div class="col-md-3 col-sm-12">
    <%= link_to search_path(search: 'los angeles'), method: :get do %>
      <div class="discovery-card" style="background-image: url('/assets/LA.jpg')"></div>
    <% end %>
  </div>
    <div class="col-md-3 col-sm-12">
      <%= link_to search_path(search: 'london'), method: :get do %>
        <div class="discovery-card" style="background-image: url('/assets/LD.jpg')"></div>
      <% end %>
    </div>
    <div class="col-md-3 col-sm-12">
      <%= link_to search_path(search: 'paris'), method: :get do %>
        <div class="discovery-card" style="background-image: url('/assets/PR.jpg')"></div>
      <% end %>
    </div>
    <div class="col-md-3 col-sm-12">
      <%= link_to search_path(search: 'miami'), method: :get do %>
        <div class="discovery-card" style="background-image: url('/assets/MI.jpg')"></div>
      <% end %>
    </div>
  </div>
</div>