<script type="text/javascript" charset="utf-8">
  document.addEventListener("turbolinks:load", function() {
    initCalendar(<%= sanitize(@room.reserved_dates.to_json) %>);
  });
</script>
<div class="panel panel-default">
  <div class="panel-heading">
    <span><i class="fa fa-bolt" style="color:#ffb400"></i><%= @room.price %></span>
    <span class="pull-right">Per Night</span>
  </div>
  <div class="panel-body">
    <%= form_with(model: [@room, @room.reservations.new], local: true) do |f| %>
      <div class="row">
        <div class="col-md-6">
          <%= f.label :start_date, 'Check In' %>
          <%= f.text_field :start_date, readonly: true, placeholder: 'Start Date', class: 'form-control datepicker' %>
        </div>
        <div class="col-md-6">
          <%= f.label :start_date, 'Check Out' %>
          <%= f.text_field :end_date, readonly: true, placeholder: 'End Date', class: 'form-control datepicker', disabled: true %>
        </div>
        <h4 class="message-alert text-center">
          <span id="error-message"></span>
        </h4>
        <div id="preview" style="display:none">
          <table class="reservation-table">
            <tbody>
            <tr>
              <td>
                Price
              </td>
              <td class="text-right">
                <%= @room.price %>
              </td>
            </tr>
            <tr>
              <td>
                Nights
              </td>
              <td class="text-right">
                x <span id="reservation_nights"></span>
              </td>
            </tr>
            <tr>
              <td class="total">
                Total
              </td>
              <td class="text-right">
                $ <span id="reservation_total"></span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <br>
      <%= f.submit 'Book now', id: 'btn-reservation', class: 'btn btn-normal btn-block', disabled: true %>
    <% end %>
  </div>
</div>