<div class="row">
  <div class="col-md-3">
    <ul class="sidebar-list">
      <li class="sidebar-item">
        <%= link_to 'Your listing', rooms_path, class: 'sidebar-link' %>
      </li>
      <li class="sidebar-item">
        <%= link_to 'Your reservations', your_reservations_path, class: 'sidebar-link' %>
      </li>
      <li class="sidebar-item">
        <%= link_to 'Your trips', your_trips_path, class: 'sidebar-link active' %>
      </li>
    </ul>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        Your Trips
      </div>
      <div class="panel-body">
        <% @trips.each do |trip| %>
          <div class="row">
            <div class="col-md-2">
              <%= trip.start_date.strftime('%v') %>
            </div>
            <div class="col-md-2">
              <%= link_to room_path(trip.room) do %>
                <%= image_tag trip.room.photos.first.variant(resize: "180x180") if trip.room.photos.attached? %>
              <% end %>
            </div>
            <div class="col-md-5">
              <%= link_to trip.room.listing_name, room_path(trip.room) %>
              <br>
              <br>
              <span>
                <%= image_tag avatar_url(trip.room.user), class: 'img-circle avatar-small' %>
                <%= link_to trip.room.user.fullname, user_path(trip.room.user) %>
              </span>
            </div>
            <div class="col-md-3 text-right">
              <%= render 'reviews/guest_form', reservation: trip %>
            </div>
          </div>
          <hr>
        <% end %>
      </div>
    </div>
  </div>
</div>