<div class="row">
  <div class="col-md-3">
    <%= render 'room_menu' %>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        Description
      </div>
      <div class="panel-body">
        <div class="container">
          <%= form_with(model: @room) do |f| %>
            <div class="row">
              <div class="form-group">
                <%= f.label :listing_name %>
                <%= f.text_field :listing_name, placeholder: 'What is your listing name?', class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label :summary %>
                <%= f.text_area :summary, rows: 5, placeholder: 'Summary of your house', class: 'form-control' %>
              </div>
              <div class="text-center">
                <%= f.submit class: 'btn btn-form' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>